.form-row {
    margin-bottom: 1%;
}

.botao_foto {
    border: dashed 2px;
    text-align: center;
}

input[type='file'] {
    display: none
}

.botao_foto i {
    font-size: 30px;

}

.imagem_pessoa {
    width: 100%;
    height: auto;
}

#header_home {
    background-color: white;
    padding: 0 3%;
}

#header_home img {
    margin: 1.5% 0;
}

#header_home div {
    float: right;
}

.pesquisa_home {
    background-image: url("../images/home/background_home.jpg");
    background-repeat: no-repeat;
}

.formulario {
    float: left;
}

.pesquisa_home .linha {
    border-bottom: 1px solid white;
}

.pesquisa_home h3 {
    color: white;
    font-weight: 300;
    border-bottom: solid white 1px;
}

.section2 {
    background-color: rgb(49, 58, 70);
    opacity: 0.9;
    padding: 2% 0;

}

.pesquisa_home button {
    padding: 3% 0;
    font-size: 1.5em;
}

.pesquisa_home label {
    color: white;
    font-weight: 400;
}

.pesquisa_home select {
    background-color: rgb(49, 58, 70);
    color: white;

}

.pesquisa_home button {
    /*background-color: #FBA617;*/
}

.veiculos_destaque {
    background-color: white;
    text-align: center;
    overflow: hidden;
    padding: 1% 4%;
    box-shadow: 5px 5px 5px #ccc;
    float: left;
    margin-bottom: 10%;
}

.veiculos_destaque p {
    border-top: solid 1px #ccc;
}

.img_van-destaque {
    border-radius: 10px;
    border: solid white 1px;
    width: 100%;

}

.cx_detalhes {
    padding: 0 3%;
}

.veiculos_destaque span {
    font-size: 0.85em;
}

.veiculos_destaque .lugares {
    float: left;
}

.veiculos_destaque .ano_veiculo {
    float: right;
}



.veiculos_destaque h5 {
    color: #515151;
}

#header_home i {
    font-size: 22px;
    color: #6E757D;
}

#header_home span {
    color: #6E757D;
    font-size: 17px;
}

.login {
    padding: 2.5% 0;
}

.lugares_ano {
    border-top: 1px solid #999;
    color: #6E757D;
    overflow: hidden;
}

.detalhes {
    float: right;
    color: #FBA617;
    font-weight: 600;
}

.imagem_aluno{
    max-width: 150px;
}

.labelCidades{

}

.div_turnos{
    padding: 1%;
    overflow: hidden;
}

.div_turnos_dentro{
    float: left;
    margin: 3% auto;
}
.custom-radio{
    float: left;
}

.vagas_van{
    border: solid red 1px;
}

.vagas_van input{
    position: relative;

}

.iframe_carregar_imagem{
    width: 100%;
    min-height: 500px;
    border: none;

}

#caixa_bairro{
    border: solid red 1px;
    height: 300px;

}


