<label for="selecao_arquivo" class="botao_foto btn-lg btn-outline-secondary">
    <i class="fa mdi mdi mdi-camera"></i>
    <h6>Adicionar foto</h6>
</label>
<input type="file" name="adicionar_imagem" id="selecao_arquivo">