<label data-toggle="modal" data-target="#modalExemplo" for="selecao_arquivo" class="botao_foto btn-lg btn-outline-secondary">
    <i class="fa mdi mdi mdi-camera"></i>
    <h6>Adicionar foto</h6>
</label>

